MSL/Service References/EverestDispatchingService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="EverestDispatchingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEverestDispatchingService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IEverestDispatchingService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IEverestDispatchingService_ObtenerSoportes_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSoportes" />
  </wsdl:message>
  <wsdl:message name="IEverestDispatchingService_ObtenerSoportes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSoportesResponse" />
  </wsdl:message>
  <wsdl:portType name="IEverestDispatchingService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IEverestDispatchingService/DoWork" message="tns:IEverestDispatchingService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEverestDispatchingService/DoWorkResponse" message="tns:IEverestDispatchingService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerSoportes">
      <wsdl:input wsaw:Action="http://tempuri.org/IEverestDispatchingService/ObtenerSoportes" message="tns:IEverestDispatchingService_ObtenerSoportes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEverestDispatchingService/ObtenerSoportesResponse" message="tns:IEverestDispatchingService_ObtenerSoportes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEverestDispatchingService" type="tns:IEverestDispatchingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IEverestDispatchingService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerSoportes">
      <soap:operation soapAction="http://tempuri.org/IEverestDispatchingService/ObtenerSoportes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EverestDispatchingService">
    <wsdl:port name="BasicHttpBinding_IEverestDispatchingService" binding="tns:BasicHttpBinding_IEverestDispatchingService">
      <soap:address location="http://hvmmadmlp01.gerampg.com:8060/MMS/EverestDispatchingService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>