SIM/Service References/ServicioOrdenTVCliente/HM.MMS.AR.Server.BusinessEntity.Ordenes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HM.MMS.AR.Server.BusinessEntity.Ordenes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HM.MMS.AR.Server.BusinessEntity.Ordenes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://www.havas.com/MMS/C/O/TV" />
  <xs:complexType name="OrdenOfOfiFXlTOR">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="OrdenOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/HM.MMS.AR.Server.BusinessEntity.Ordenes" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="O" Namespace="http://www.havas.com/MMS/C/O/TV" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Orden">
        <xs:sequence>
          <xs:element xmlns:q1="http://www.havas.com/MMS/C/O/TV" minOccurs="0" name="OrdenInterna" nillable="true" type="q1:O" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OrdenOfOfiFXlTOR" nillable="true" type="tns:OrdenOfOfiFXlTOR" />
  <xs:complexType name="Orden">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoCompania" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoConvenio" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoOrden" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EsOrdenEverest" type="xs:boolean" />
      <xs:element minOccurs="0" name="Material" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Monitoreada" type="xs:boolean" />
      <xs:element minOccurs="0" name="OrdenEverest" nillable="true" type="tns:OrdenEverest" />
      <xs:element minOccurs="0" name="TituloAnuncio" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Orden" nillable="true" type="tns:Orden" />
  <xs:complexType name="OrdenEverest">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoCampania" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoEjercicio" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoSistema" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoSpot" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="CodigoSpotDetalle" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrdenEverest" nillable="true" type="tns:OrdenEverest" />
</xs:schema>